- form_for(:tm_account, @tm_account, :url => {:action => 'create'}) do |f|
  %strong Create a new Ticketmaster Account
  Username
  %br/
  = f.text_field :username
  .spacer
  Password
  %br/
  = f.text_field :password
  .spacer
  = submit_tag 'Create'

.spacer
.spacer

%table.data-grid{:cellspacing => 0}
  %tr
    %th ID
    %th Username
    %th Password
    %th Fetched tickets
    %th Unfetched
    %th Status
    %th Last ran
    %th Force fetch
    %th Remove
  - @tm_accounts.each do |tm_account|
    %tr
      %td= tm_account.id
      %td&= tm_account.username
      %td&= tm_account.password 
      %td
        = tm_account.tickets.fetched.count 
        == (#{link_to 'view', :action => 'list_fetched', :id => tm_account.id})
      %td
        = tm_account.tickets.unfetched.count
        == (#{link_to 'view', :action => 'list_unfetched', :id => tm_account.id})
      %td== #{tm_account.disabled? ? 'Disabled' : 'Enabled'} - #{tm_account.worker_status_full} (#{link_to( (tm_account.disabled? ? 'enable' : 'disable'), :action => 'toggle_disabled', :id => tm_account.id)})
      %td= tm_account.worker_last_update_at.strftime("%m/%d/%y")
      %td= link_to('Manual fetch', {:action => 'manual_fetch', :id => tm_account.id})
      %td= link_to('Remove', {:action => 'destroy', :id => tm_account.id}, :confirm => 'Are you sure you want to delete this account?')
      