#queue-form
  - remote_form_for :ticket, @ticket, :url => {:action => 'update'}, :complete => "eventNameAutoCompleteLoaded=false;$('queue-form').remove();commonDT.reloadPS()" do |f|
    = f.hidden_field :id
    %input#show_all{:type => 'hidden', :value => 1}
    %input#viewed_only{:type => 'hidden'}
    %table
      %tr
        %td.label{:align => "right"} ID:
        %td= @ticket.id
        %td.label{:align => 'right'} PDF: 
        %td= link_to('Download', :action => 'preview_pdf', :id => @ticket.id)
      %tr
        %td.label{:align => 'right'} Entered system on:
        %td= @ticket.created_at.strftime("%m/%d/%y")
        %td.label{:align => 'right'} Quickview: 
        %td= link_to('View', {:action => 'quickview_ticket', :id => @ticket.id}, {:rel => 'lightbox'})
      %tr
        %td.label{:align => "right"} Section:
        %td
          = f.text_field :section, :size => 5
        %td.label{:align => 'right'} Purchaser:
        %td
          = f.text_field :purchaser
      %tr
        %td.label{:align => 'right'} Row:
        %td
          = f.text_field :row, :size => 5
        %td.label{:align => 'right'} Order #:
        %td
          = f.text_field :order_number
      %tr
        %td.label{:align => 'right'} Seat:
        %td
          = f.text_field :seat, :size => 5
        %td.label{:align => 'right'} Barcode #:
        %td
          = f.text_field :barcode_number
      %tr
        %td
        %td
        %td.label{:align => 'right'} Event:
        %td
          %input{:type => 'text', :id => 'event_name', :name => 'event[name]', :onfocus => 'initEventAutoComplete()', :onblur => 'updateEventDates(true)', :value => (@ticket.event ? @ticket.event.name : nil)}
          #event_name_auto_complete.auto_complete
      %tr
        %td
        %td
        %td.label{:align => 'right'} Event Date:
        %td.yui-skin-sam
          %input{:type => 'hidden', :id => 'ticket_event_id', :value => (@ticket ? @ticket.event_id : nil)}
          %select#event-date-select{:name => 'event_id', :onchange => 'updateEventDatePicker()'}
            %option{:value => 0} -- Custom
          %input{:type => 'text', :name => 'event_date_text', :id => 'event_date_text'}
          #cal1Container{:style => 'margin-right:10px;margin-bottom:10px;border:1px solid black;display:none;position:absolute; z-index:1'}
      %tr
        %td
          %input{:type => 'button', :value => 'Cancel', :onclick => "eventNameAutoCompleteLoaded=false;$('queue-form').remove()"}
        %td
        %td
        %td
          %input{:type => 'submit', :value => 'Save'}
