!!! XML
!!!
%html
  %head
    %title TicketFast Manager
    =javascript_include_tag "http://yui.yahooapis.com/combo?2.5.2/build/yahoo-dom-event/yahoo-dom-event.js&2.5.2/build/connection/connection-min.js&2.5.2/build/element/element-beta-min.js&2.5.2/build/datasource/datasource-beta-min.js&2.5.2/build/datatable/datatable-beta-min.js&2.5.2/build/json/json-min.js"
    =stylesheet_link_tag 'http://yui.yahooapis.com/2.5.2/build/datatable/assets/skins/sam/datatable.css'
    =stylesheet_link_tag 'http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css'
    =javascript_include_tag 'prototype','effects','dragdrop','controls','builder','lightbox','application','dt_defs', :cache => false
    =stylesheet_link_tag 'site.css'
    =stylesheet_link_tag 'lightbox'
  %body
    #doc4
      #hd
        = link_to "Tickets", :controller => "tickets" 
        \-
        = link_to "Manage Events", :controller => "events", :action => "manage"
        = "(#{Event.count(:conditions => "name = '' OR name IS NULL")})"
        \-
        = link_to "Manage Venues", :controller => "venues", :action => "manage" 
        \-
        = link_to "Tickets Queue", :controller => "tickets", :action => "view_queue" 
        = "(#{Ticket.unparsed.count})"
        \-
        Total tickets: 
        = Ticket.count
        %br/
        %br/
        = flash[:success] + "<br /><br />" if flash[:success]
      #bd
        =yield
      #ft Copyright &copy; 2008, National Event Company II LLC, All Rights Reserved